<!DOCTYPE html>
<html lang="en">

<head>
    <title align="center">
       Result Management System
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>
        function validate(){
            var regName = /^[a-zA-Z]+ [a-zA-Z]+$/;
            var name = document.getElementById('Name').value;
            if(!regName.test(name)){
                alert('Please enter your full name (first & last name).');
                return false;
            }else{
                return true;
            }
        }
        </script>

    <style>
        .button {
            border-radius: 4px;
            padding: 12px 28px;
            background-color: #008CBA;

            border: none;
            color: white;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }

        .container {
            margin: auto;
            width: 50%;
            /* border: 3px solid green; */
            padding: 10px;
        }

        .headertekst {
            left: 0;
            right: 0;
            width: 100%;
            text-align: center;
        }

        .navbar-custom {
            background-color: #8fbc8f;
            border: 3px solid #556b2f;

        }

        .button1:active {
            background-color: #f0e68c;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }

        .navbar-custom {
            height: 80px;
        }
    </style>
</head>

<body>
    <nav class="navbar-custom">
        <div class="container-fluid">

            <header>
                <h2 class="headertekst"><b>Result Management System</b></h2>

            </header>

        </div>
    </nav>

    <body>
        <a href="/home" style="float:right" class="button mt-4 mr-4">Logout</a><br /><br />
        <a href="/teacher" style="float:left" class="button ml-4">Back</a>
        <h2 align="center"><b>Update Record</b></h2>

        <div class="container">
            <form action="/update" method="post">
                <input type="hidden" value="<%=user.Student_id %>" name="id">
                <div class="form-group">
                    <label for="Roll_no">Roll No:</label>
                    <input type="number"   class="form-control" id="Roll_no" placeholder="Enter Roll No (In Digits)"
                        value="<%= user.Roll_no %>" name="Roll_no" required>
                </div>
                <div class="form-group">
                    <label for="Name">Name:</label>
                    <input type="text" class="form-control" id="Name" pattern="^[A-Za-zÀ-ÿ ,.'-]+$"   placeholder="Enter Name" value="<%= user.Name %>"
                        name="Name" required>
                </div>
                <div class="form-group">
                    <label for="DateOfBirth">Date Of Birth:</label>
                    <input  class="form-control" id="DateOfBirth" pattern="\d{4}-\d{1,2}-\d{1,2}"  placeholder="Enter Date Of Birth in yyyy-mm-dd format"
                         name="DateOfBirth"  required>
                </div>

                <div class="form-group">
                    <label for="Score">Score:</label>
                    <input  type="number"  min="0" max="100" class="form-control" id="Score" placeholder="Enter Score out of 100"
                        value="<%= user.Score %>" name="Score" required>
                </div>


                <button type="submit" class="button">Submit</button>
            </form>
        </div>

    </body>
</html>