<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Result Management System</title>
    <style>
        .navbar-custom {
            background-color: #8fbc8f;
            border: 3px solid #556b2f;

        }

        .button1:active {
            background-color: #f0e68c;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }

        .navbar-custom {
            height: 80px;
        }

        .headertekst {
            left: 0;
            right: 0;
            width: 100%;
            text-align: center;
        }

        .button {
            border-radius: 4px;
            padding: 12px 28px;
            background-color: #008CBA;

            border: none;
            color: white;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }

        .container {
            margin: auto;
            width: 50%;
            /* border: 3px solid green; */
            padding: 10px;
        }
    </style>
</head>
<nav class="navbar-custom">
    <div class="container-fluid">

        <header>
            <h2 class="headertekst"><b>Result Management System</b></h2>

        </header>

    </div>
</nav>

<body>

    <a href="/home" style="float:right" class="button mt-4 mr-4">Logout</a><br /><br />
    <br>
    <br>
    <h4 align="center"><b>Incorrect RollNumber or Name</b></h4>
    <br>
    <span style="text-align:center; display:block;">
        <a href="/try_result" style="float:center" class="button">Try Again</a><br /><br />
    </span>
</body>

</html>